.AppBox {
  font-family: 'dengxian';
  background-position: center 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.bg0 {
  background-image: url(./imgs/bg0.jpg);
}

.bg1 {
  background-image: url(./imgs/bg1.jpg);
}

.bg2 {
  background-image: url(./imgs/bg2.jpg);
}