.AppBox {
  font-family: 'dengxian';
  background-position: center 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.bg0 {
  background-image: url(https://topfullstackkimeng.oss-cn-hangzhou.aliyuncs.com/strapi/bg0.webp);
}

.bg1 {
  background-image: url(https://topfullstackkimeng.oss-cn-hangzhou.aliyuncs.com/strapi/bg1.webp);
}

.bg2 {
  background-image: url(https://topfullstackkimeng.oss-cn-hangzhou.aliyuncs.com/strapi/bg2.webp);
}